<div class="container">
    <div class="row">
        <div>
            <link rel="stylesheet" type="text/css" href="inicio.component.css">
                <div class="container">
                    <p>   
                    </p>
                    <div class="row">
                        <a>¡Bienvenido a Houer!</a>
                    </div>
                    <p> 
                    </p>
                    <div class="container">
                        <img id="img1" src="/assets/img/logo presentacion.png">
                        <div class="row">
                        <p>Nosotros somos Houer una compania de venta de relojes,</p>
                        <p>nuestra idea es vender relojes de marca reconocidas en el mundo</p>
                        <p>Podras encontrarte marcas como CASIO, Rolex y mas...</p>
                        </div>
                    </div>
                    <button id="buttonInit" class="btn btn-primary" type="submit">Explorar</button>
                </div>
        </div>
    </div>
</div>


    


